*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans';
    font-size: 1.2rem;
    color: $text-primary;
    strong { font-weight: 800; }
}
footer{
    background: $dark;
    padding-top: $size-5;
    padding-bottom: $size-5;
}
section {
    // position: relative;
    // min-height: 100vh;
    // width: 100vw;
    transform-style: inherit;
}
button{
    font-size: $regular-fontsize;
}
a{
    @include transitionAll04();
    &:hover{
        color: $primary;
    }
}

h1, h2, h3, p {
    @include fontWeights();
}

h1{
    font-size: $heading1;
}
h2{
    font-size: $heading2;
}
h3{
    font-size: $heading3;
}

p{
    font-size: $regular-fontsize;
}

.line-h1{
    line-height: $heading1;
}
.line-h2{
    line-height: $heading2;
}
.line-h3{
    line-height: $heading3;
}

.f-size-1{
    font-size: $heading1;
}
.f-size-2{
    font-size: $heading2;
}
.f-size-3{
    font-size: $heading3;
}
.f-size-4{
    font-size: $BigTitle_mobile;
}

.text-center{
    text-align: center;
}
.text-white{
    color: white;
}
.text-gray{
    color: $gray-3;
}
.text-gray2{
    color: $gray-2;
}
.text-dark{
    color: $text-primary;
}

.to-center{
    @include toMarginCenter();
}

.i-flex{
    display: inline-flex;
}
.d-flex{
    display: flex;
}
.f-grow{
    flex-grow: 1;
}
