<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="./src/images/logo-icon.png">
    <link href="./src/css/style.css" rel="stylesheet">

    <title>How to Use Checkbook Pro</title>
</head>
<body>

    <nav id="menu" class="main-menu animate__animated animate__bounceInDown">
        <label for="show-menu" class="show-menu">
            <div class="topbar">
                <span class="logo mobile-logo">
                    <img src="./src/images/logo-icon.png" alt="">
                    <a href="index.html"><strong>Checkbook</strong><span>Pro</span></a>
                </span>
                <div class="lines"></div>
            </div>
        </label>
        <input type="checkbox" id="show-menu">
            <ul id="menu">
                <li class="logo menu-logo">
                    <a href="index.html">
                        <img src="./src/images/logo-icon.png" alt="">
                        <strong>Checkbook</strong><span>Pro</span>
                    </a>
                </li>
                <div class="menu-links" id="menu_links">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="https://checkbookpro.s3.us-east-2.amazonaws.com/CheckbookPro.msi">Download Checkbook Pro</a>		</li>
                        <li><a href="https://order.shareit.com/cart/new?vendorid=200288303&PRODUCT[301015988]=1&cartcoupon=1&backlink=https%3A%2F%2Fcheckbook.pro%2Fthankyou.html">Buy a License</a>		</li>
                        <li><a href="template/guide.html">How to Use a Checkbook Pro</a></li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.us.jk.receiptscanner" target="_blank" class="button bt bt-primary shaded">
                                <i class="fab fa-google-play"></i>
                                <span>
                                    Receipt Scanner
                                    <small>for Android</small>
                                </span>
                            </a>
                        </li>
                </div>
            </ul>
    </nav>

    <!-- header img  -->
    <section id="header-img" class="parallax" style="background-image: url('./src/images/background-img.jpg');">
        <div class="mb_parallax_overlay">
            <div class="container">
                <div class="title-call animate__animated animate__fadeInLeft">
                    <span>A <strong>Dollar Tracked</strong></span>
                    <span>is a dollar <span class="tag">Saved</span></span>
                    <span class="subtitle mt-4">End Accounting Chaos</span>
                    <span>
                        <a href="https://checkbookpro.s3.us-east-2.amazonaws.com/CheckbookPro.msi">
                            <button class="bt bt-primary shaded mt-5">
                                <i class="fas fa-download"></i>
                                Download Now
                            </button>
                        </a>
                    </span>
                </div>

            </div>
            <div class="next animate__animated animate__zoomInDown">
                <a href="#video_tutorial">
                    <i class="fas fa-chevron-down magnify"></i>
                </a>
            </div>
        </div>
    </section>
    <!-- header img  -->

    <section id="video_tutorial" class="section no-padding">
        <div class="container">
            <div class="videoWrapper">
                <iframe width="100%" height="630px" src="https://www.youtube.com/embed/ruEOObe7bts?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>



<div id="backToTop" class="shaded" onclick="goTop()">
    <i class="fa fa-angle-up"></i>
</div>

<footer id="footer">
    <div class="container">
        <div class="footer-container">
            <div class="row">
            
                <!-- col-list-footer -->
                <div class="col-lg-3 col-md-6 col-sm-12 mt-5">
                    <div class="title text-gray">
                        <p class="bold">About Us</p>
                    </div>
                    <div class="footer-list text-gray2">
                            <small>
                                How to IXI DESIGN LLC,
                                522 W RIVERSIDE AVE STE N,
                                SPOKANE WA 99201-0580
                            </small>
                        <a class="text-gray2" href="mailto:service@checkbook.pro">
                            <small>service@checkbook.pro</small>
                        </a>
                        <div class="social-links">
                            <span class="social-item">
                                <a href="">
                                    <i class="fab fa-facebook magnify"></i>
                                </a>
                            </span>
                            <span class="social-item">
                                <a href="">
                                    <i class="fab fa-twitter magnify"></i>
                                </a>
                            </span>
                            <span class="social-item">
                                <a href="">
                                    <i class="fab fa-instagram magnify"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- col-list-footer -->
                <!-- col-list-footer -->
                <div class="col-lg-3 col-md-6 col-sm-12 mt-5">
                    <div class="title text-gray">
                        <p class="bold">Checkbook</p>
                    </div>
                    <div class="footer-list links text-gray2">
                        <a href="guide.html">
                            <small>How to Use</small>
                        </a>
                        <a href="https://order.shareit.com/cart/new?vendorid=200288303&PRODUCT[301015988]=1&cartcoupon=1&backlink=https%3A%2F%2Fcheckbook.pro%2Fthankyou.html">
                            <small>Buy a License</small>
                        </a>
                        <a href="mailto:service@checkbook.pro">
                            <small>Support</small>
                        </a>
                        <a href="#">
                            <small>Partnership</small>
                        </a>
                        
                    </div>
                </div>
                <!-- col-list-footer -->
                <!-- col-list-footer -->
                <div class="col-lg-3 col-md-6 col-sm-12 mt-5">
                    <div class="title text-gray">
                        <p class="bold">Help Center</p>
                    </div>
                    <div class="footer-list links text-gray2">
                        <a href="guide.html">
                            <small>Frequently Asked Questions</small>
                        </a>
                        <a href="terms.html">
                            <small>Terms and Service</small>
                        </a>
                        <a href="privacy.html">
                            <small>Privacy Policy</small>
                        </a>
                        
                    </div>
                </div>
                <!-- col-list-footer -->
                <!-- col-list-footer -->
                <div class="col-lg-3 col-md-6 col-sm-12 mt-5">
                    <div class="title text-gray">
                        <p class="bold">Download</p>
                    </div>
                    <div class="footer-list links text-gray2">
                        <a href="https://checkbookpro.s3.us-east-2.amazonaws.com/CheckbookPro.msi">
                            <small>Checkbook Pro for Windows PC</small>
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.us.jk.receiptscanner" target="_blank">
                            <small>Receipt Scanner for Android on Google Play </small>
                        </a>
                        <a class="gplay-footer" href="https://play.google.com/store/apps/details?id=com.us.jk.receiptscanner" target="_blank">
                            <img src="./src/images/google-play-badge.png" alt="">
                        </a>
                        
                    </div>
                </div>
                <!-- col-list-footer -->
                
                
            </div>
        </div>
        <div class="line"></div>
        <div class="col-12 text-gray">
            <small>CheckbookPro © 2021</small>
        </div>
    </div>
</footer>

</body>
</html>
