<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../src/images/logo-icon.png">
    <link href="../src/css/style.css" rel="stylesheet">

    <title>How to Use Checkbook Pro</title>
</head>
<body>

    <nav id="menu" class="main-menu animated bounceInDown">
        <label for="show-menu" class="show-menu">
            <div class="topbar">
                <span class="logo mobile-logo">
                    <img src="../src/images/logo-icon.png" alt="">
                    <a href="../index.html"><strong>Checkbook</strong><span>Pro</span></a>
                </span>
                <div class="lines"></div>
            </div>
        </label>
        <input type="checkbox" id="show-menu">
            <ul id="menu">
                <li class="logo menu-logo">
                    <a href="../index.html">
                        <img src="../src/images/logo-icon.png" alt="">
                        <strong>Checkbook</strong><span>Pro</span>
                    </a>
                </li>
                <div class="menu-links" id="menu_links">
                        <li class="active"><a href="../index.html">Home</a></li>
                        <li><a href="#">Download Checkbook Pro</a>		</li>
                        <li><a href="#">Buy a License</a>		</li>
                        <li><a href="./how-to-use.html">How to Use a Checkbook Pro</a></li>
                        <li>
                            <a href="#companion_software" class="button bt bt-primary shaded">
                                <i class="fab fa-google-play"></i>
                                <span>
                                    Receipt Scanner
                                    <small>for Android</small>
                                </span>
                            </a>
                        </li>
                </div>
            </ul>
    </nav>


    <section id="header-img" class="parallax" style="background-image: url('../src/images/background-img.jpg');">
           <div class="mb_parallax_overlay">
               <div class="container">
                   <div class="title-call animated fadeInLeft">
                       <span>A <strong>Dollar Tracked</strong></span>
                       <span>is a dollar <span class="tag">Saved</span></span>
                       <span class="subtitle mt-4">End Accounting Chaos</span>
                       <span>
                           <button class="bt bt-primary shaded mt-5">
                               <i class="fas fa-download"></i>
                               Download Now
                           </button>
                       </span>
                   </div>
       
               </div>
               <div class="next animated zoomInDown">
                   <a href="#video_tutorial">
                       <i class="fas fa-chevron-down magnify"></i>
                   </a>
               </div>
           </div>
    </section>

    <section id="video_tutorial" class="section no-padding">
        <div class="container">
            <div class="videoWrapper">
                <div id="videoTutorialPlay" class="play-button d-flex float shaded" onclick="playVideo(event)">
                    <i class="fa fa-play"></i>
                </div>
                <video id="videoTutorial" class="video-full" playsinline poster="../src/images/spokevideo-preview.jpg">
                    <source id="webm" src="../src/video/Spokevideo.webm" type="video/webm">
                </video>
            </div>
        </div>
    </section>

    <!-- video section -->
    <section id="right_tools" class="section video-section responsive-padding">
        <div class="container">
            <!-- col -->
            <div class="col-lg-6 col-sm-12 f-grow">
                <!-- videoplayer -->
                <div class="videoWrapper">
                    <div id="videoHolder" class="video-holder">
                        <div id="rightToolsVideoPlay" class="play-button d-flex float shaded" onclick="playVideo(event)">
                            <i class="fa fa-play"></i>
                        </div>
                        <video id="rightToolsVideo" class="video" playsinline poster="../src/images/spokevideo-preview.jpg">
                            <source id="webm" src="../src/video/Spokevideo.webm" type="video/webm">
                        </video>
                    </div>
                </div>
                <!-- videoplayer -->
            </div>
            <!-- col -->
            <!-- col -->
            <div class="col-lg-6 col-sm-12 f-grow">
                <div class="title mb-4">
                    <span>
                        Success in life depends on
                        choosing the <span class="tag">Right Tools</span>
                        for the Right <span class="tag">Task</span>
                    </span>
                </div>
                <div class="text">
                    <p class=" mb-4">
                        Whether you are a fresh graduate making $20,000 a year or a seasoned professional making $400,000 a year, financial success comes down to having the right tool to keep track of income and expenses.
                    </p>
                    <p>
                        CHECKBOOK PRO is this key tool. You will not find another accounting software that is more intuitive and user friendly <a href="#">Download Checkbook Pro</a>
                    </p>
                </div>
            </div>
            <!-- col -->
        </div>
    </section>
    <!-- video section -->


    <section id="companion_software" class="section">
        <div class="container text-center to-center">
            <div class="title">
                <span class="bold">Companion Software</span>
                <span>for <span class="tag">Android</span></span>
            </div>
            <div class="subtitle">
                <h2 class="thin line-h1">
                    Use Checkbook Pro Windows Application with the 
               <br>
                    Receipt Scanner for Android Phones
                </h2>
            </div>
            <div class="text text-gray companion_software_text">
                <p>
                    The Receipt Scanner app helps you scan your receipts at rocket speed using your Android phone and then transfer it all to your computer. <a href="#">You can download it HERE.</a>
                </p>
                <div class="gplay">
                    <a href="https://play.google.com/store/apps/details?id=com.us.jk.receiptscanner" target="_blank">
                        <img src="../src/images/google-play-badge.png" alt="Get it on Google Play">
                    </a>
                </div>
            </div>
        </div>
    </section>


<div id="backToTop" class="shaded" onclick="goTop()">
    <i class="fa fa-angle-up"></i>
</div>

<footer id="footer">
    <div class="container">
        <div class="col-12 footer-container">
            
            <!-- col-list-footer -->
            <div class="col-md-3 col-sm-12">
                <div class="title text-gray">
                    <p class="bold">About Us</p>
                </div>
                <div class="footer-list text-gray2">
                    <p>
                        <small>
                            How to IXI DESIGN LLC,
                            522 W RIVERSIDE AVE STE N,
                            SPOKANE WA 99201-0580
                        </small>
                    </p>
                    <a class="text-gray2" href="mailto:service@checkbook.pro">
                        <small>service@checkbook.pro</small>
                    </a>
                    <div class="social-links">
                        <span class="social-item">
                            <a href="">
                                <i class="fab fa-facebook magnify"></i>
                            </a>
                        </span>
                        <span class="social-item">
                            <a href="">
                                <i class="fab fa-twitter magnify"></i>
                            </a>
                        </span>
                        <span class="social-item">
                            <a href="">
                                <i class="fab fa-instagram magnify"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <!-- col-list-footer -->
            <!-- col-list-footer -->
            <div class="col-md-3 col-sm-12">
                <div class="title text-gray">
                    <p class="bold">Checkbook</p>
                </div>
                <div class="footer-list links text-gray2">
                    <a href="./how-to-use.html">
                        <small>How to Use</small>
                    </a>
                    <a href="#">
                        <small>Support</small>
                    </a>
                    <a href="#">
                        <small>Partnership</small>
                    </a>
                    
                </div>
            </div>
            <!-- col-list-footer -->
            <!-- col-list-footer -->
            <div class="col-md-3 col-sm-12">
                <div class="title text-gray">
                    <p class="bold">Help Center</p>
                </div>
                <div class="footer-list links text-gray2">
                    <a href="./text-page.html">
                        <small>Frequently Asked Questions</small>
                    </a>
                    <a href="./terms_and_service.html">
                        <small>Terms and Service</small>
                    </a>
                    <a href="./privacy_policy.html">
                        <small>Privacy Policy</small>
                    </a>
                    
                </div>
            </div>
            <!-- col-list-footer -->
            <!-- col-list-footer -->
            <div class="col-md-3 col-sm-12">
                <div class="title text-gray">
                    <p class="bold">Download</p>
                </div>
                <div class="footer-list links text-gray2">
                    <a href="#">
                        <small>Checkbook Pro for Windows PC</small>
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.us.jk.receiptscanner" target="_blank">
                        <small>Receipt Scanner for Android on Google Play </small>
                    </a>
                    <a class="gplay-footer" href="https://play.google.com/store/apps/details?id=com.us.jk.receiptscanner" target="_blank">
                        <img src="../src/images/google-play-badge.png" alt="">
                    </a>
                    
                </div>
            </div>
            <!-- col-list-footer -->
            
            
        </div>
        <div class="line"></div>
        <div class="col-12 text-gray">
            <p>
                <small>CheckbookPro © 2021</small>
            </p>
        </div>
    </div>
</footer>

</body>
</html>

<!-- jquery import -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- autoplay video plugins -->
<!-- <script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script> -->
<!-- <script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script> -->
<!-- global js functions -->
<script src="../src/js/global.js"></script>

<script>
// jquery for smooth scroll
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (300) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 300, function(){
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});

// // plugins to autoplay video based on viewport
// var videoElem = document.getElementsByClassName("video");

// for (var i = 0; i < videoElem.length; i++) {
//    let videoInstance = videoElem[i].id;
//    // more instances created based on videos by class
//    let instance = document.getElementById(videoInstance);
//    gsap.registerPlugin(ScrollTrigger);
//      ScrollTrigger.create({
//        trigger: instance,
//        onEnter: () => instance.play(),
//        onEnterBack: () => instance.play(),
//        onLeave: () => instance.pause(),
//        onLeaveBack: () => instance.pause(),
//      });
// }

document.getElementById('videoTutorial').addEventListener('ended',showButton,false);
function showButton() {
    play_button = document.getElementById('videoTutorialPlay');
    play_button.style.display = 'flex';
}


</script>