

  /* Floating Social Media Bar Style Starts Here */
  
  .fl-fl {
    background: $primary;
    border-radius: $border-radius 0 0 $border-radius;
    letter-spacing: 3px;
    cursor: pointer;
    padding: 4px;
    width: 220px;
    position: fixed;
    right: -180px;
    z-index: 999;
    font: normal normal 10px Arial;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
  
  .fl-fl:hover {
    right: 0;
    &.shaded{
        @include blueshadow();
        z-index: 1000;
    }
  }
  
  .fl-fl {
    a {
        color: #fff !important;
        text-decoration: none;
        text-align: center;
        line-height: 43px!important;
        vertical-align: top!important;
        display: flex;
        align-items: center;
        i {
            font-size: $regular-fontsize;
            padding: $extrasmall-fontsize;
        }
      }
  }
  
  .float-1 {
    top: 160px;
  }
  
  .float-2 {
    top: 215px;
  }
  
  .float-3 {
    top: 270px;
  }
  
  .float-4 {
    top: 325px;
  }
  
  .float-5 {
    top: 380px;
  }
  
  .float-6 {
    top: 435px;
  }
  /* Floating Social Media Bar Style Ends Here */