.videoWrapper {
	width: 100%;
	max-height: 600px;
}
.videoWrapper {
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-holder {
	text-align: center;
	margin: 0 auto;
}
.video{
	width: 100%;
	max-height: 600px;
	outline: none;
	object-fit: contain;
}
.video-full{
	width: 100%;
	height: auto;
    max-height: 80vh;
	outline: none;
	object-fit: contain;
    display: flex;
    margin: 0 auto;
}


@media only screen and (max-width: 600px) {
	.video-holder {
		width: calc(100% - 20px);
		margin: 0 10px;
	}
    .video {
        height: auto;
    }	
	// #spokeVideo{
    //     width: 100%;
    //     height: auto;
	// 	object-fit: contain;
    // }
}



.video-section {
    .container{
        display: inline-flex;
        width: -webkit-fill-available;

        & .title{
            margin-top: $size-2;
        }

        .col-expl{
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    

}


// lightbox
#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
  #light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }
  
  #boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
  }
  
  .boxclose:before {
    content: "x";
  }
  
  #fade:hover ~ #boxclose {
    display:none;
  }
  
  .test:hover ~ .test2 {
    display: none;
  }

  .play-button {
    background-color: $primary;
    padding: $size-0;
    width: $size-5;
    height: $size-5;
    border-radius: 50%;
    cursor: pointer;
    z-index: 98;
    opacity: 1;
    @include transitionAll04;
    &.float {
        position: absolute;
        top: 45%;
        left: 45%;
    }
    &:hover{
        -webkit-animation: heartBeat 1s infinite alternate;
        animation: heartBeat 1s infinite alternate;
    }
    &.shaded {
        @include blueshadow();
    }
    & i{
        color: white;
        display: flex;
        align-self: center;
        justify-content: center;
        flex-grow: 1;
        
    }
  }

  .bt-mute{
    position: absolute;
    height: $size-3;
    width: $size-3;
    opacity: 0;
    top: 15%;
    z-index: 10;
    right: $size-1;
    & i{
        margin: 0!important;
    }
  }
  